<div class="row remote">
    <div class="col-sm-6 col-md-4">
        <h2>Samsung TV</h2>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-warning btn-lg" ng-click="sendButton(1,20)"><span class="glyphicon glyphicon-off"></span> On/Off</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(1,2)">source</button>
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-lg" ng-click="sendButton(1,16)"><span class="glyphicon glyphicon-volume-down"></span> vol -</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-lg" ng-click="sendButton(1,2)"><span class="glyphicon glyphicon-volume-off"></span> mute</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-lg" ng-click="sendButton(1,15)"><span class="glyphicon glyphicon-volume-up"></span> vol +</button>
            </div>
        </div>
    </div>
</div>

<div class="row remote" >
    <div class="col-sm-6 col-md-4">
        <h2>BBox</h2>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-warning btn-lg" ng-click="sendButton(3, 1)"><span class="glyphicon glyphicon-off"></span> On/Off</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,15)"><span class="glyphicon glyphicon-volume-down"></span> vol -</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,0)"><span class="glyphicon glyphicon-volume-off"></span> mute</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,14)"><span class="glyphicon glyphicon-volume-up"></span> vol +</button>
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,13)"><span class="glyphicon glyphicon-chevron-left"></span> prog -</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,11)"><span class="glyphicon glyphicon-play"></span> play</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,12)"><span class="glyphicon glyphicon-chevron-right"></span> prog +</button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,4)"><span class="glyphicon glyphicon-arrow-up"></span></button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,6)"><span class="glyphicon glyphicon-arrow-left"></span></button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,8)"><span class="glyphicon glyphicon-ok"></span>Enter</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,7)"><span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,5)"><span class="glyphicon glyphicon-arrow-down"></span></button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,5)">retour</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
        </div>
    </div>
</div>