<div class="row actuator">
    <div class="col-sm-6 col-md-4">
        <h2>Interrupteur Salon</h2>
        <div class="btn-group" role="group">
            <button class="btn btn-success btn-lg" ng-click="changeState(2,1,1)"><span class="glyphicon glyphicon-ok"></span> On</button>
            <button class="btn btn-danger btn-lg" ng-click="changeState(2,1,0)"><span class="glyphicon glyphicon-off"></span> Off</button>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <h2>Interrupteur Enceinte</h2>
        <div class="btn-group" role="group">
            <button class="btn btn-success btn-lg" ng-click="changeState(2,2,1)"><span class="glyphicon glyphicon-ok"></span> On</button>
            <button class="btn btn-danger btn-lg" ng-click="changeState(2,2,0)"><span class="glyphicon glyphicon-off"></span> Off</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
    <h2>HDMI Switch</h2>
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <button class="btn btn-default btn-lg" ng-click="sendButton(3,5,0)">Blue-ray</button>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-default btn-lg" ng-click="sendButton(3,5,1)">TV Bbox</button>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-default btn-lg" ng-click="sendButton(3,5,2)">Mini ordi</button>
        </div>
</div>
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <button class="btn btn-default btn-lg" ng-click="sendButton(3,5,3)">PC Portable</button>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-default btn-lg" ng-click="sendButton(3,5,4)">Chromecast</button>
        </div>
    </div>
</div>
</div>


<div class="row remote">
    <div class="col-sm-6 col-md-4">
        <h2>Samsung TV</h2>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-warning btn-lg" ng-click="sendButton(3,1,0)"><span class="glyphicon glyphicon-off"></span> On/Off</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,1,1)">source</button>
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-lg" ng-click="sendButton(3,1,16)"><span class="glyphicon glyphicon-volume-down"></span> vol -</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-lg" ng-click="sendButton(3,1,2)"><span class="glyphicon glyphicon-volume-off"></span> mute</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-lg" ng-click="sendButton(3,1,15)"><span class="glyphicon glyphicon-volume-up"></span> vol +</button>
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,1,24)">outils</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,1,30)">retour</button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,1,25)"><span class="glyphicon glyphicon-arrow-up"></span></button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,1,26)"><span class="glyphicon glyphicon-arrow-left"></span></button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,1,29)"><span class="glyphicon glyphicon-ok"></span>Enter</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,1,27)"><span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,1,28)"><span class="glyphicon glyphicon-arrow-down"></span></button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
        </div>

    </div>

    <div class="col-sm-6 col-md-4">
        <h2>BBox</h2>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-warning btn-lg" ng-click="sendButton(3,3, 1)"><span class="glyphicon glyphicon-off"></span> On/Off</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,3,15)"><span class="glyphicon glyphicon-volume-down"></span> vol -</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,3,0)"><span class="glyphicon glyphicon-volume-off"></span> mute</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,3,14)"><span class="glyphicon glyphicon-volume-up"></span> vol +</button>
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,3,13)"><span class="glyphicon glyphicon-chevron-left"></span> prog -</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,3,11)"><span class="glyphicon glyphicon-play"></span> play</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,3,12)"><span class="glyphicon glyphicon-chevron-right"></span> prog +</button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,3,4)"><span class="glyphicon glyphicon-arrow-up"></span></button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,3,6)"><span class="glyphicon glyphicon-arrow-left"></span></button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,3,8)"><span class="glyphicon glyphicon-ok"></span>Enter</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,3,7)"><span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,3,5)"><span class="glyphicon glyphicon-arrow-down"></span></button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg" ng-click="sendButton(3,3,9)">retour</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default btn-lg">-</button>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <h2>LED</h2>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 0)">Light Up</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 1)">Light Down</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 2)">Off</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 3)">On</button>
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 4)">Red</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 5)">Green</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 6)">Blue</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 7)">White</button>
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 8)">Red 1</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 9)">Green 1</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 10)">Blue 1</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 11)">Flash</button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 12)">Red 2</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 13)">Green 2</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 14)">Blue 2</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 15)">Strobe</button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 16)">Red 3</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 17)">Green 3</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 18)">Blue 3</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 19)">Fade</button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 20)">Red 4</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 21)">Green 4</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 22)">Blue 4</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-lg" ng-click="sendButton(8, 6, 23)">Smooth</button>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-init="init()">
    <div class="col-xs-12"><h2>Température</h2></div>
</div>
<div class="row temperature">
    <div class="col-xs-4 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Salon</h3>
            </div>
            <div class="panel-body">
                {{temperature.salon}}°C
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Chambre</h3>
            </div>
            <div class="panel-body">
                {{temperature.chambre}}°C
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12"><h2>Chauffage</h2></div>
</div>
<div class="row heater">
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Salon gauche <span class="pull-right label" ng-class="getClassByRoom('salonGauche')">{{ heater.salonGauche }}</span></h3>
            </div>
            <div class="panel-body">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button class="btn btn-success btn-lg" ng-click="heaterService.setEco('salonGauche'); init();"><span class="glyphicon glyphicon-leaf"></span> Eco</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-warning btn-lg" ng-click="heaterService.setComfy('salonGauche'); init();"><span class="glyphicon glyphicon-fire"></span> Comfort</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-danger btn-lg" ng-click="heaterService.setStop('salonGauche'); init();"><span class="glyphicon glyphicon-remove"></span> Arrêt</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Salon droite <span class="pull-right label" ng-class="getClassByRoom('salonDroite')">{{ heater.salonDroite }}</span></h3>
            </div>
            <div class="panel-body">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button class="btn btn-success btn-lg" ng-click="heaterService.setEco('salonDroite'); init();"><span class="glyphicon glyphicon-leaf"></span> Eco</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-warning btn-lg" ng-click="heaterService.setComfy('salonDroite'); init();"><span class="glyphicon glyphicon-fire"></span> Comfort</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-danger btn-lg" ng-click="heaterService.setStop('salonDroite'); init();"><span class="glyphicon glyphicon-remove"></span> Arrêt</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Chambre <span class="pull-right label" ng-class="getClassByRoom('chambre')">{{ heater.chambre }}</span></h3>
            </div>
            <div class="panel-body">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button class="btn btn-success btn-lg" ng-click="heaterService.setEco('chambre'); init();"><span class="glyphicon glyphicon-leaf"></span> Eco</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-warning btn-lg" ng-click="heaterService.setComfy('chambre'); init();"><span class="glyphicon glyphicon-fire"></span> Comfort</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-danger btn-lg" ng-click="heaterService.setStop('chambre'); init();"><span class="glyphicon glyphicon-remove"></span> Arrêt</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
