// node data structure to remove mongo instance

var nodes =  [
    {
        id: 8,
        name: "LED strip",
        sensors: [
            {
                id: 6,
                name: "Remote",
                type:"remote"
            },
            {
                id: 2,
                name: "Humidité",
                type: "sensor"
            },
            {
                id: 3,
                name: "Température",
                type: "sensor"
            }
        ]
    },
    {
        id: 1,
        name: "EDF Téléinfo",
        sensors: [
            {
                id: 4,
                name: "Puissance Apparente",
                type: "sensor"
            },
            {
                id: 5,
                name: "Intensité instantanée",
                type: "sensor"
            },
            {
                id: 6,
                name: "Heures creuses",
                type: "sensor"
            },
            {
                id: 7,
                name: "Heures pleines",
                type: "sensor"
            }
        ]
    },
    {
        id: 2,
        name: "Salon prises électriques",
        sensors: [
            {
                id: 1,
                name: "prise blanche",
                type: "actuator"
            },
            {
                id: 2,
                name: "prise grise",
                type: "actuator"
            }
        ]
    },
    {
        id: 3,
        name: "Télécommande salon",
        sensors: [
            {
                id: 1,
                name: "Samsung TV",
                type: "remote"
            },
            {
                id: 3,
                name: "BBox",
                type: "remote"
            },
            {
                id:5,
                name:"HDMI Switch",
                type:"remote"
            }
        ]
    },
    {
        id: 4,
        name: "Salon",
        sensors: [
            {
                id: 4,
                name: "Humidité",
                type: "sensor"
            },
            {
                id: 5,
                name: "Température",
                type: "sensor"
            }
        ]
    }
];

var repository = {
    getHeaterNode: function() {
        var currentNode;
        repository.findNode(5, function(err, node) {
            currentNode = err ? err : node;
        });

        return currentNode;
    },
    findSensor: function(nodeId, sensorId, callback) {
        repository.findNode(nodeId, function(err, node) {
            for (var idx in node.sensors) {
                if (node.sensors[idx].id === parseInt(sensorId)) {
                    return callback(false, node.sensors[idx]);
                }
            }

            callback(true, null);
        });
    },
    findNode: function(nodeId, callback) {
        for (var idx in nodes) {
            if (nodes[idx].id === parseInt(nodeId)) {
                callback(false, nodes[idx]);
            }
        }
    },
    findAll: function(callback) {
        for (var idx in nodes) {
            delete nodes[idx].sensors;
        }

        callback(nodes);
    }
};

module.exports = {
    repository: repository,
    nodes: nodes
};
