// node data structure to remove mongo instance

module.exports = {
    nodes: [
        {
            id: 1,
            name: "",
            sensors: [
                {
                    id: 1,
                    name: ""
                },
                {
                    id: 2,
                    name: ""
                }
            ]
        }
    ]
};